@media screen and (max-width: 767px) {
  .static__phone {
    display: none;
  }
  .static__nav {
    display: none;
  }
  .static__brand_dodotext {
    display: none;
  }
  .static {
    padding: 0;
    margin: 0;
  }
}
